@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
  box-sizing:border-box;
}

html{
  font-family: 'Work Sans', sans-serif;

}


body{
  margin: 0;
  background-color:#F3FDE8;
}